@using Northwind.Models
@model IEnumerable<Discount>
    
<h2 class="mt-3"><i class="fas fa-percent"></i> Manage Discounts</h2>
<div class="text-danger" asp-validation-summary="All"></div>
@* <ul class="list-group">
    @foreach (Discount d in Model)
    {
        <li class="list-group-item">@d.Title - @d.Code</li>
    }
</ul> *@
<table class="table table-sm table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Discount Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Code</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Discount Percent</th>
                <th scope="col">Product Id</th>    
                <td style="border-top-style:hidden;border-right-style:hidden;border-bottom-style:hidden;"></td>
            </tr>
        </thead>
            @foreach (Discount d in Model)
            {
                <tr>   
                    <td>@d.DiscountId</td>                 
                    <td>@d.Title</td>
                    <td>@d.Description</td>
                    <td>@d.Code</td>
                    <td>@d.StartTime</td>
                    <td>@d.EndTime</td>
                    <td>@d.DiscountPercent</td>
                    <td>@d.ProductId</td>
                    <td style="border-top-style:hidden;border-right-style:hidden;border-bottom-style:hidden;">
                        <form asp-action="Delete" asp-route-id="@d.DiscountId" method="post">
                            <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@d.DiscountId">Edit</a>
                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
    </table>

<a class="btn btn-outline-primary" asp-action="Create">Create</a>